@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

body{
    font-family: 'lato', 'helvetica-light';
    position:relative;
    text-transform: uppercase;
    padding:50px 100px;
    background-color: #f5f5f5;

}

#amount{
    font-size:14px;
    color:#333;
}

#card-back{
    top: 40px;
    right: 0;
    z-index: -2;
}

#card-btn{
    background-color: rgb(226, 221, 221);
    color:rgb(0, 0, 0);
    position:absolute;
    bottom: -55px;
    right: 0;
    width: 100px;
    border-radius: 8px;
    height: 40px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#card-btn:hover{
    background-color: rgb(160, 155, 155);
}

#card-cvc {
    width: 60px;
    margin-bottom: 0;
  }

#card-front,
#card-back {
    position: absolute;
    background-color: #dfdfdf;
    width: 390px;
    height: 250px;
    border-radius: 12px;
    padding: 20px 30px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

#card-image{
    float:right;
    height:100%;
}

#card-image i{
    font-size:40px;
    color: #666;
}

#card-month{
    width: 50px !important;
    text-align:center;
    padding: 0 5px;
}

#card-year{
    width: 50px;
    text-align: center;
    padding: 0 5px;}

#card-number,
#card-holder {
    width:100%;
}

#card-stripe{
    width:100%;
    height:55px;
    background-color: #000000;
    position: absolute;
    right:0;
    top:40px;
}

#card-success{
    color:#00b349;
}

#card-token{
    display:none;
}

#cardholder-container{
    width: 60%;
    display: inline-block;
    margin-bottom: 15px;
}

#cvc-container{
    position: absolute;
    width: 110px;
    right: -115px;
    bottom: -10px;
    padding-left: 20px;
    box-sizing: border-box;
}

#cvc-container label{
    width:100%;
    color:#333;
}

#form-container{
    margin: auto;
    width:500px;
    height:290px;
    position: relative;
}

#form-errors{
    color:#eb0000;
}

#form-errors,
#card-success{
    background-color: white;
    width: 500px;
    margin: 0 auto 10px;
    height: 50px;
    border-radius:8px;
    padding:0 20px;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 46px;
    letter-spacing: .5px;
    text-transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

}

#from-errors p,
#card-success p{
    margin: 0 5px;
    display: inline-block;
}

#exp-container{
    margin-left: 10px;
    width: 32%;
    display: inline-block;
}

.hidden{
    display:none;
}

#image-container{
    width: 100%;
    position: relative;
    height: 55px;
    margin-bottom: 15px;
    line-height: 55px;
}

#image-container img{
    position: absolute;
    right:0;
    top:0;
}

input{
    border:none;
    outline:none;
    background-color:white;
    height: 35px;
    line-height: 40px;
    padding: 0 15px;
    text-align: left;
    color: #333;
    font-size: 14px;
    box-sizing: border-box;
    border-radius:4px;
    font-family: 'lato', 'helvetica-light', 'sasn-serif';
    letter-spacing: .7px;
    transition: border-color 0.3s ease;

}

#shadow{
    position: absolute;
    right: 0;
    width:284px;
    height: 214px;
    top: 36px;
    background-color: #000;
    z-index: -1;
    border-radius: 8px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}